body {
}

.Category_txt, .Category_txt_intro{
    border-style: hidden;
    border-width: 0px;
    padding-bottom: 5px;
    background-color: transparent;
    color: #C0C0C0;
    height: 33px;
    width: 542px;
    font-size: larger;
    text-align: center;
    vertical-align: middle;
}

.tumblr-post{
    color: transparent;
}

#posts{

}


.CategoryWrapper{
    position: relative; 
    top: 00px; 
    background-color: transparent;
    width: 542px; 
    height: 160px;

}